@media only screen and (max-width: 1050px){
    .pc { display: none !important;}
    .sp { display: block !important;}
}

@font-face {
    font-family: 'CP_Revenge';
    src: url('cprevenge_tte/CP_Revenge.ttf') format('truetype');
  }

body{
    background-color: #FFE425;
}

.wrap {
    width:100%;
	overflow: hidden;
}

h1{
    font-family: "CP_Revenge";  

}

h2{
    font-size: 16px;
    font-family: "CP_Revenge";  
}

h3{
    font-family: "CP_Revenge";  
}

p{
    font-size: 20px;
}

/*PNG*/
.comeup_phone{
    position: absolute;
    top:15px;
}

.change_phone{
    position: absolute;
    top: 165px;
    left:8px;
}

.run_phone{
    position: absolute;
    top:367px;
    left:29px;
}

.camera_phone{
    position: absolute;
    top:243px;
    left:264px;
}

.ship_phone{
    position: absolute;
    top:21px;
    left:230px;
}

.pc_phone{
    position: absolute;
    top:243px;
    left:-10px;
}


/*PNG fin*/

.blue{
    position: absolute;
    top: 713px;
    left: 0.1162109375px;
    width: 100%;
    height: 990px;
    background: #3F82AB 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: -1;
    background-size: cover;
}

.over_y{
    z-index: -1;
	position: relative;
    max-width: 100%;
	height: 12px;
	top: -1px;
	left: 0;
    border-style: none;

  }

  .yellow_triangle{
    border-collapse:collapse;
    border-width: 150px 50vw 0 50vw;
    border-style: solid;
    border-color: #FFE425   transparent #3F82AB ;
    border-bottom: transparent;
  }

  .red{
    position: absolute;
    top: 1703px;
    left: 0.1162109375px;
    width: 100%;
    height: 650px;
    background: #D78AA5 0% 0% no-repeat padding-box;
    background-size: cover;
    z-index: -1;
    margin: 0;
    padding: 0;
    max-width: 100%;
    
}

.over{
    z-index: -2;
	position: relative;
    max-width: 100%;
	height: 12px;
	top: -1px;
	left: 0;
    border-style: none;

  }

.blue_triangle{
    border-collapse:collapse;
    border-width: 150px 50vw 0 50vw;
    border-style: solid;
    border-color:  #3F82AB  transparent #D78AA5 ;
   
    border-bottom: transparent;
  }

.yellow_2{

}

.over_red{
    z-index:0;
    position: relative;
    max-width: 100%;
    height: 12px;
    top: -1px;
    left: -10px;
    border-style: none;
  }

.red_triangle{
    border-collapse:collapse;
    border-width: 150px 50vw 0 53vw;
    border-style: solid;
    border-color: #D78AA5   transparent #FFE425 ;
    border-bottom: transparent;
  }

.yellow_2{
    position: absolute;
    top: 2350px;
    left: 0.1162109375px;
    width: 100%;
    height: 500px;
    background:#FFE425 0% 0% no-repeat padding-box;
    background-size: cover;
    z-index: -1;
    
}
.enjoy{
    writing-mode: vertical-rl;
    margin: auto;
    margin-top: 70px;
    z-index: 2;
  }

.enjoy h1{
    font-size: 60px;
    color: #238F7A;
}

.setumei{
    position: relative;
    margin: auto;
    margin-top: 80px;
    text-align: center;
}

.setumei h1{
    color: #238F7A;
}

.setumei p{
    font-size: 16px;
}
/*Yellowここまで*/
.date{
    position: relative;
    top:-40px;
    margin: auto;
    width: 292px;
    height: 89px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    z-index: 6;
}

.date ul li{
    display: inline-block;
    text-align: left;
}

.date h1{
    font-size: 20px;
    margin: 0;
    margin-top: 5px;
    padding: 0;
}

.date h2{
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.date p{
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.indetail{  
    position: relative;
    top:-15px;
    margin: auto;
    width: 160px;
    height: 27px;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 27px;
    opacity: 1;
}

.indetail h3{
    color: white;
    text-align: center;
    padding-top: 5px;
    font-size: 16px;
}

.discription_1{
    position: relative;
    top: -150px;
    margin: auto;
    width: 304px;
    height: 190px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.discription_1 p{
    font-size: 16px;
}

.about_design{
    position: relative;
    top: 240px;
    margin: auto;
    width: 315px;
    height: 171px;
    background: #D1D1D2 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
}

.about_design h1{
    font-size: 20px;
    text-align: left;
    padding-top: 15px;
    margin-left: 29px;
}

.about_design p{
    visibility: hidden;
}

.container{
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 15px;
    max-width: 100%;
    z-index: 3;
}

.container h1{
    font-size: 12px;
    margin-left: 10px;
}

.container p{
    visibility: hidden;
}


.medical_field{
    position: relative;
    width: 154px;
    height: 83px;
    background: #D1D1D2 0% 0% no-repeat padding-box;
    border-radius: 14px;
    opacity: 1;
}

.energy_field{
    position: relative;
    margin-left: 10px;
    width: 154px;
    height: 83px;
    background: #D1D1D2 0% 0% no-repeat padding-box;
    border-radius: 14px;
    opacity: 1;
}

.industry_field{
    position: relative;
    width: 154px;
    height: 83px;
    background: #D1D1D2 0% 0% no-repeat padding-box;
    border-radius: 14px;
    opacity: 1;
}

.life_support_field{
    position: relative;
    margin-left: 10px;
    width: 154px;
    height: 83px;
    background: #D1D1D2 0% 0% no-repeat padding-box;
    border-radius: 14px;
    opacity: 1;
}

.discription_2{
    position: relative;
    top:50px;
    margin: auto;
    width: 286px;
    height: 75px;
    text-align: left;
    font: W4 14px/24px Hiragino Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    z-index: 4;
}

.discription_2 p{
    font-size: 12px;
}

.vision{
    position: relative;
    margin: auto;
    width: 315px;
    top:25px;
height: 171px;
background: #D1D1D2 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
}

.vision p{
    visibility: hidden;
}

.vision h1{
    font-size: 20px;
    text-align: left;
    padding-top: 15px;
    margin-left: 29px;
}

.about{
    position: relative;
    top:100px;
    margin-left: 32px;
    width: 323px;
    height: 64px;
    text-align: left;
    font: Regular 30px/34px CP_Revenge;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.career_design{
    position: relative;
    top:270px;
    margin: auto;
    width: 375px;
    height: 79px;
    background: #E8BECD 0% 0% no-repeat padding-box;
    opacity: 1;
}

.career_design h2{
    text-align: center;
    padding-top: 28px;
}

.career_design p{
    visibility: hidden;
}

.ray_relation{
    position: relative;
    top:270px;
    margin: auto;
    width: 375px;
    height: 79px;
    background: #E8BECD 0% 0% no-repeat padding-box;
    opacity: 1;
}

.ray_relation h2{
    text-align: center;
    padding-top: 28px;
}

.ray_relation p{
    visibility: hidden;
}

.schedule{
    position: relative;
    top:140px;
    margin: auto;
    width: 350px;
    height: 150px;
    text-align: left;
    font: W4 16px/24px Hiragino Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.schedule h1{
    font-size: 30px;
}

.schedule p{
    font-size: 16px;
}

.offer{
    position: relative;
    top:160px;
    margin-left: 28px;
    width: 317px;
    height: 101px;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.offer h2{
    font-size: 20px;
}

.container_2{
    position: relative;
    top: 95px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
    max-width: 100%;
}

.small_box{
    width: 308px;
    height: 88px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;

}

.plan{
    position: relative;
    top:110px;
    margin-left: 28px;
    width: 317px;
    height: 101px;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.plan h2{
    font-size: 20px;
}

.container_3{
    position: relative;
    top: 30px;
    padding: 0;
    margin-left: 50px;
    margin-right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
    max-width: 100%;
}

.mid_box{
    width: 317px;
    height: 124px;
    margin-top: 16px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
}

.entry{
    position: relative;
    top: 100px;
    margin: auto;
    width: 350px;
    height: 75px;
    text-align: left;
    font: Regular 30px/45px CP_Revenge;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

form{
    position: relative;
    top: 100px;
    margin-left: 35px;
    width: 350px;
    height: 124px;
    font-family: "Hiragino Sans";
    font-size: 18px;
    max-width: 100%;
}

form dl{
    max-width: 100%;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

form dl dt {
    width: 200px;
    padding: 10px 0;
    float: inherit;
    clear: both;
    margin-right: 95px;
    max-width: 100%;
  }

  form dl dd{
    width: 350px;
    margin: 0px;
    font-size: 14px;
    max-width: 100%;
}

form .name{
    width: 117px;
    height: 29px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

form .age{
    width: 129px;
    height: 29px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

form .tel{
    width: 74px;
    height: 29px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

form .email{
    width: 309px;
    height: 29px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

form .school{
    width: 309px;
    height: 29px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

form .message{
    width: 309px;
    height: 104px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

input[type=radio] {
    width: 28px;
    height: 17px;
    vertical-align: text-bottom;
}

form ul{
    list-style: none;
}

.info{
    position: relative;
    top: 10px;
    margin-left: -32px;
    width: 350px;
    max-width: 100%;
}

.check{
    position: relative;
    top:5px;
    margin-left: 30px;
    width: 263px;
    height: 53px;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 41px;
    opacity: 1;
    margin-bottom: 196px;
}

.check h2{
    font-size: 22px;
    color: white;
    font-family: "HiraMinPro-W6-83pv-RKSJ-H";
    margin: 10px;
}