@media only screen and (min-width: 1050px){
/*.pc { display: block !important; } */
.sp { display: none !important; }
}

body{
    font-family:"Hiragino Sans";
    background-color: yellow;
    z-index: 0;
    margin: 0;
    padding: 0;
    min-width: 800px;
    max-width: 100%;
}

.wrap {
    width:100%;
	overflow: hidden;
}


h1{
    font-family: "CP_Revenge";  
    font-size: 48px;
    max-width: 100%;
}

h2{
    font-family: "CP_Revenge";  
    max-width: 100%;
}

h3{
    font-family: "CP_Revenge";  
    max-width: 100%;
}

p{
    font-size: 20px;
}

/*background*/



/*background*/

/*yellow1*/
.ray_left{
    position: absolute;
    top:53px;
    left: 138px;
}

.ray_right{
    position: absolute;
    top:70px;
    left:218px;
}

.enjoy{
    writing-mode: vertical-rl;
    margin: auto;
    margin-top: 120px;
    z-index: 2;
}

.enjoy h1{
    font-size: 85px;
    color: #238F7A;
}

.setumei{
    position: absolute;
    top:520px;
    margin-left: 140px;
}

.setumei h1{
    color: #238F7A;
}
/*yellowここまで*/
/*blue*/

.blue{
    position: absolute;
    top: 914px;
    left: 0.1162109375px;
    width: 100%;
    height: 1628px;
    background: #3F82AB 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: -1;
    background-size: cover;
}


  .date{
    position: relative;
    top: -110px;
    margin: auto;
    width: 980px;
    height: 165px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 27px;
    opacity: 1;
    z-index: 5;
}

.date ul {
    padding: 25px;
    margin-left: 3em;
    
}

.date ul li{
    display: inline-block;
    text-align: left;
    margin-right: 7em;
}

.date ul li h1{
    font-family: "CP_Revenge";  
    margin: 0;
    letter-spacing: 0px;
}

.indetail{
    position: relative;
    top: -30px;
    margin: auto;
    width: 317px;
    height: 37px;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 27px;
    opacity: 1;
}

.indetail h3{
    color: white;
    text-align: center;
    padding-top: 10px;
}
.container{
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 15px;
    max-width: 100%;
}

.about_design{
    width: 480px;
    height: 260px;
    background: #D1D1D2 0% 0% no-repeat padding-box;
    border-radius: 27px;
    opacity: 1;
}

.discription_1{
    margin-left: 20px;
    width: 480px;
    height: 260px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.box h1{
    font-size: 29px;
    margin-top: 25px;
    margin-left: 50px;
}

.box p{
    text-align: center;
    align-items: baseline;
    margin-top: 130px;
}


.medical_field{
    width: 480px;
    height: 260px;
    background: #D1D1D2 0% 0% no-repeat padding-box;
    border-radius: 27px;
    opacity: 1;
}

.energy_field{
    margin-left: 20px;
    width: 480px;
    height: 260px;
    background: #D1D1D2 0% 0% no-repeat padding-box;
    border-radius: 27px;
    opacity: 1;
}

.industry_field{
    width: 480px;
    height: 260px;
    background: #D1D1D2 0% 0% no-repeat padding-box;
    border-radius: 27px;
    opacity: 1;
}

.life_support_field{
    margin-left: 20px;
    width: 480px;
    height: 260px;
    background: #D1D1D2 0% 0% no-repeat padding-box;
    border-radius: 27px;
    opacity: 1;
}

.discription_2{
    width: 480px;
    height: 260px;
    text-align: left;
    font: W4 20px/41px Hiragino Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    vertical-align: bottom;
}

.vision{
    margin-left: 20px;
    width: 480px;
    height: 260px;
    background: #D1D1D2 0% 0% no-repeat padding-box;
    border-radius: 27px;
    opacity: 1;
}

/*blueここまで*/
/*redここから*/
.red{
    position: absolute;
    top: 2342px;
    left: 0.1162109375px;
    width: 100%;
    height: 1511px;
    background: #D78AA5 0% 0% no-repeat padding-box;
    background-size: cover;
    z-index: -1;
    margin: 0;
    padding: 0;
    max-width: 100%;
    
}

.about{
    position: relative;
    top: 135px;
    margin-left: 140px;
    width: 984px;
    height: 337px;
    z-index: 2;
    max-width: 100%;
}

.career_design{
    position: relative;
    top: 30px;
    margin: auto;
    width: 984px;
    height: 390px;
    max-width: 100%;
}

.pic_1{
    width: 984px;
    height: 337px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.ray_relation{
    position: relative;
    top: 30px;
    margin: auto;
    width: 988px;
    height: 600px;
    max-width: 100%;
}

.pic_2{
    width: 988px;
    height: 545px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

/*redここまで*/
/*yello2*/

.yellow_2{
    position: absolute;
    top: 65px;
    left: 0.1162109375px;
    width: 100%;
    height: 1px;
    background:yellow 0% 0% no-repeat padding-box;
    background-size: cover;
    z-index: -1;
    
}
.schedule{
    position: relative;
    top: 3835px;
    margin-left: 140px;
    width: 982px;
    height: 230px;
    z-index: 2;
    max-width: 100%;
}

.offer{
    position: relative;
    top: 3800px;
    margin-left: 140px;
    width: 210px;
    height: 30px;
    text-align: left;
    font: Regular 30px/20px CP_Revenge;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    max-width: 100%;
}

.container_2{
    position: relative;
    top: 3830px;
    margin-left: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 15px;
    width: 2000px;
    max-width: 100%;
}
.arrow{
    margin-left: 15px;
    width: 22px;
    height: 26px;
}

.small_box{
    margin-left: 15px;
    width: 153px;
    height: 124px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
}

.plan{
    position: relative;
    top: 3860px;
    margin-left: 140px;
    width: 180px;
    height: 30px;
    text-align: left;
    font: Regular 30px/20px CP_Revenge;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    max-width: 100%;
}

.container_3{
    position: relative;
    top: 3890px;
    margin-left: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 15px;
    flex-wrap: wrap;
    width: 1525px;
    max-width: 100%;
}

.mid_box{
    margin-left: 32px;
    margin-bottom: 10px;
    width: 479px;
    height: 124px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
}
/*yellow2ここまで*/

/*エントリー・お問い合わせフォーム*/
.entry{
    position: absolute;
    top: 4722px;
    margin-left: 140px;
    width: 768px;
    height: 48px;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    max-width: 100%;
}

form{
    position: relative;
    top: 4100px;
    margin-left: 150px;
    width: 479px;
    height: 124px;
    font-family: "Hiragino Sans";
    font-size: 24px;
    max-width: 100%;
}

form dl dt {
    width: 200px;
    padding: 10px 0;
    float: left;
    clear: both;
    margin-right: 95px;
  }

  form dl dd{
      width: 1000px;
      padding: 10px 0;
  }

  form .name{
    width: 268px;
    height: 46px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
  }

  form .age{
    width: 153px;
    height: 46px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
  }

  form .tel{
    width: 153px;
    height: 46px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
  }

  form .email{
    width: 669px;
    height: 46px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
  }

  form .school{
    width: 669px;
    height: 46px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
  }

  form .message{
    width: 669px;
    height: 114px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
  }

  input[type=radio] {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
}

form ul{
    list-style: none;
}

.info{
    position: relative;
    top: 24px;
    left: 300px;
    width: 600px;
    max-width: 100%;
}

.check{
    position: relative;
    left: 348px;
    top: 13px;
    width: 383px;
    height: 77px;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 41px;
    opacity: 1;
    margin-bottom: 250px;
    max-width: 100%;
}

.check h2{
    font-size: 32px;
    color: white;
    font-family: "HiraMinPro-W6-83pv-RKSJ-H";
    margin: 10px;
}

/*エントリー・お問い合わせフォームここまで*/

.over{
    z-index: 3;
	position: relative;
    max-width: 100%;
	height: 12px;
	top: -1px;
	left: 0;
    border-style: none;

  }

  .blue_triangle{
    border-collapse:collapse;
    border-width: 150px 50vw 0 50vw;
    border-style: solid;
    border-color:  #3F82AB  transparent #D78AA5 ;
   
    border-bottom: transparent;
  }

  .over_y{
    z-index: 3;
	position: relative;
    max-width: 100%;
	height: 12px;
	top: -1px;
	left: 0;
    border-style: none;

  }

  .yellow_triangle{
    border-collapse:collapse;
    border-width: 150px 50vw 0 50vw;
    border-style: solid;
    border-color: yellow   transparent #3F82AB ;
    border-bottom: transparent;
  }


  .over_red{
    z-index: 3;
	position: relative;
	max-width: 100%;
	height: 12px;
	top: 3787px;
	left: 0;
    border-style: none;

  }

  .red_triangle{
    border-collapse:collapse;
    border-width: 150px 50vw 0 50vw;
    border-style: solid;
    border-color: #D78AA5   transparent yellow ;
    border-bottom: transparent;
  }